body {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  background-color: pink;
  align-items: center;
  justify-content: space-between;
}

.toDoTitle {
  color: white;
  padding-left: 5%;

}
.main{
  display: flex;
}

.directoryDiv {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 92vh;
  background-color: blue;
  align-items: center;

}



.projectNames {
  background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newProject {
  margin: 2% 0;
}

.projectButton {
  width: 50px;
  height: 50px;
}


.addProjectDiv {
  display: none;
  position: fixed;
  left: 15%;
  width: 20vw;
  z-index: 1;
  background-color: rgb(0,0,0);

}

.projectContent {
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  justify-content: center;

}

.projectSubmit {
  width:5vw;
  height:5vh;
  align-self: center;

}

.closeButton {
  color: #aaa;

}

.closeButton:hover,
.closeButton:focus {
  color: black;
  cursor: pointer;
}

/* Tasks div styles */
.contentTaskDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  background-color: green;
}

.taskHeaderDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background-color: teal;
  justify-content: center;
  align-items: center;
}

.taskHeader {
  font-size: 3em;

}

/* .taskDiv{}; */

.addTaskButton {
  width: 10vh;
  height: 10vh;
  margin-left: 2%;
}


/* Task Creator Pop up list */

.addTaskDiv {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  /* top: 20%;
  /* right: 15%; */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
}

.taskContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  width: 75%;
  margin: 4% auto;

}

.headerTask{}

.titleInput{}

.descriptionInput{}

.dateInput{}

/* .priorityInput{

}
.priorityInput > li{
  list-style-type: disc;
  box-sizing: border-box;
  display: inline;
}


.priorityRed{
  background-color: red;
  width: 80vw;
  height: 10%;
}

.priorityYellow{
  background-color: yellow;
  width: 80vw;
  height: 10%;
}

.priorityGreen{
  background-color: green;
  width: 80vw;
  height: 10%;
} */


.submit{
  width: 5vh;
  height: 2.5vw;
  text-align: center;
}


/* New Task */

.newTask{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 10%;
}
