@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Slab:wght@300;400&display=swap');

body {
  margin: 0;
  background: #6930c3;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

h3 {
  font-family: 'Karla', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  background-color: #252525;
  align-items: center;
  justify-content: space-between;
}

.toDoTitle {
  color: white;
  padding-left: 5%;
}

.main {
  display: flex;
}

.directoryDiv {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background: #09015f;
  /* border: 1px solid #80ffdb;
  border-radius: 30px 30px 0 0; */
  /* background: rgba(37, 37, 37, 0.6); */
  align-items: center;
}

.projectNames {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
}

.projectButton {
  margin-bottom: 4%;
  margin-top: 1.5%;
}

.active {
  background: #af0069;
  color: #FFF8DC;
}

/* .projectNames:hover{
  background: rgba(255, 87, 127, 1);
} */
.projectTitle {
  width: 12vw;
  height: 10vh;
  font-size: 1.5em;
  border: 2px solid black;
}

.projectTitle:hover {
  background-color: #af0069;
  color: #FFF8DC;

}

.newProject {
  display: flex;
  flex-direction: row;
  margin: 2% 0;
  margin-left: 4%;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* .newProject:hover{
  background-color: #af0069;
  pointer: cursor;
} */


.projectContent {
  display: flex;
  flex-direction: column;
  margin: 15% auto;
  justify-content: space-between;
  align-items: center;
}

.projectInput {
  margin-bottom: 5%;
  font-size: 25px;
  width: 50%;
}

.projectSubmit {
  width: 5vw;
  height: 5vh;
  align-self: center;
}

.projectHeader {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  color: #55b3b1;
  align-self: flex-start;
  margin-left: 11%;
  margin-bottom: 6%;
  margin-top: 1%;

}

.closeButton {
  color: #aaa;
  align-self: flex-start;
  position: fixed;
  top: 10%;
  left: 18%;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  cursor: pointer;
}

/* Tasks div styles */
.contentTaskDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  background: rgba(105, 48, 195, 0.6);
  border-radius: 50px 0 0 0;
}

.taskHeaderDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background-color: #09015f;
  justify-content: center;
  align-items: center;
}

.taskHeader {
  margin-right: 2%;
  color: #FFF8DC;
}

.addButton {
  width: 100px;
  height: 30px;
  border: 1px solid #252525;
  text-align: center;
  background-color: #55b3b1;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.addTaskButton {
  margin-top: 10px;
}

.addButton:hover,
.addButton:focus {
  background-color: #252525;
  cursor: pointer;
  color: #FFF8DC;
}

/* .taskDiv{}; */
.modalDiv {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  /* top: 20%;
  /* right: 15%; */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.editDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #af0069;
  width: 25%;
  margin: 4% auto;
}

.editDiv>h3 {
  font-family: 'Karla', sans-serif;
  font-size: 2.2em;
  margin: 2.5% 0;
  color: #FFF8DC;;
}

;

.editDiv>P {
  left: 38.5%;
  top: 8%;
}

.editCloseButton {
  left: 38.5%;
  top: 8%;
}

/* Task Creator Pop up list */
.addTaskDiv {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  /* top: 20%;
  /* right: 15%; */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.taskContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #af0069;
  width: 25%;
  margin: 4% auto;
}

.taskContent>P {
  left: 38%;
  top: 8%;
}

.taskContent>h3 {
  font-family: 'Karla', sans-serif;
  font-size: 2.2em;
  margin: 2.5% 0;
  color: #FFF8DC;
}

.headerTask {
  margin: 10px 0;
  color: #FFF8DC;
  font-weight: bold;
}

/* .checkBox {
  width: 5%;
} */

.taskTitle {
  margin-left: 5%;
  width: 25%;
  color: #FFF8DC;
}

.description {
  width: 30%;
  color: #FFF8DC;
}

.taskDate {
  width: 15%;
  color: #FFF8DC;
}

.bin {
  width: 5%;
}
.bin:hover {
  transform: rotate(5deg) scale(1.2);
  cursor: pointer;
}

.submit {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* New Task */
.newTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% auto;
  align-items: center;
  border: 2px solid black;
  width: 80%;
  height: 10%;
  background: #09015f
}

.contentTaskDiv > div:first-of-type{
  margin-top: 2%;
}

.prioDivE {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.submitE {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Priority Div */
.prioDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.prioGreen {
  width: 30%;
  height: 8vh;
  background-color: green;
  color: green;
}

.prioYellow {
  width: 30%;
  height: 8vh;
  background-color: yellow;
  color: yellow;
}

.prioRed {
  width: 30%;
  height: 8vh;
  background-color: red;
  color: red;
}

.red {
  width: 5%;
  height: 80%;
  border-radius: 100%;
  background-color: red;
  border: 2px solid black;
}

.yellow {
  width: 5%;
  height: 80%;
  border-radius: 100%;
  background-color: yellow;
  border: 2px solid black;
}

.green {
  width: 5%;
  height: 80%;
  border-radius: 100%;
  background-color: green;
  border: 2px solid black;
}

.selected {
  border: 2px solid black;
}

.selectedE {
  border: 2px solid black;
}

.editClicker:hover,
.editClicker:focus {
  transform: rotate(20deg) scale(1.2);

  cursor: pointer;
  color: white;
}

.crossed {
  text-decoration: line-through;
}

.pDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.removeProject:hover{
  transform: rotate(20deg) scale(1.2);
  cursor: pointer;
}

.pInput {
  width: 88%;
  border: 2px solid black;
  margin-bottom: 4%;
}
